.titre .img2
{
    border-radius: 30px;
    filter : brightness(70%);
    width: 100%;
    min-height: 300px;
    margin-bottom: 30px;
}


@media screen and (max-width: 500px){
    
    .titre .img2
    {

        min-height: 250px;
        
    }
  
}